.mobileOnly {
    display: none;
}

.desktopOnly {
    display: block;
    max-width: 60%;
}

@media (max-width: 992px) {
    .mobileOnly {
        display: block;
    }
    .desktopOnly {
        display: none;
    }
}